# CMake-specific files
CMakeCache.txt
/Makefile
CMakeFiles/*
cmake_install.cmake
include/utrConfig.h
#DetectorConstruction/Campaign_2018/CMakeCache.txt
#DetectorConstruction/Campaign_2018/CMakeFiles/*

# Compiled binaries
utr
getHistogram
histogramToTxt
rootToTxt
angdisttest
mergeFiles

# C++ objects
unit_test/AngularDistributionGenerator/AngularDistribution.o

# Scripts for output processing
loop*.sh

# Root files
*.root

# ViM temporary files
*~
*.swp
*.swo

# Text files
*.txt

# VRML visualization output
*.wrl
