# CMake-specific files
CMakeCache.txt
/Makefile
CMakeFiles/*
cmake_install.cmake
include/utrConfig.h

# Compiled binaries
utr
getHistogram
histogramToTxt
rootToTxt

# Scripts for output processing
loop*.sh

# Root files
*.root

# ViM temporary files
*~
*.swp
*.swo

# Text files
*.txt

# VRML visualization output
*.wrl
